<h2>All Superheroes</h2>

<%= form_tag({controller: "superpowers", action: "/search"}, method: "get") do %>
  <%= label_tag(:s, "Search by superpower:") %>
  <%= text_field_tag(:s) %>
  <%= submit_tag("Search") %>
<% end %>


<ul>
  <% @superheroes.uniq.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
