<h2>All Superheroes</h2>

<%= form_tag(superheroes_path, :method => "get", id: "search-form") do %>
    <p><%= label_tag "Search By Super Powers"%></p>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
