<h2>All Superheroes</h2>
<h3>Search by Superpower:</h3>
<%= form_tag("/search", method: "get") do %>
<!-- <select name="superpower">
  <%= @superpowers.each do |sp| %>
  <option value= "#{sp.name}"> <%= sp.name %> </option>
  <%end %
</select>

<! -->
  <%= text_field_tag(:name) %> -->
  <%= submit_tag("Search") %>
<% end %>
<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
