<h2>Superheroes</h2>


<%= form_tag(superheroes_path, method: "get") do %>
  <%= label_tag(:q, "Search for Hero by Super Power:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>



<ul>
  <% @superheroes.each do |superhero| %>
    <li>
      <%= link_to superhero.super_name, superhero_path(superhero) %>
    </li>
    <br>
  <% end %>
</ul>
