<h1>Create Super Hero:</h1>

<%= form_for @superhero do |f| %>
<% if @superhero.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@superhero.errors.count, "error") %>
      prohibited this superhero from being saved:
    </h2>

    <ul>
    <% @superhero.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="">
  <%= f.label :super_name %>
  <%= f.text_field :super_name %>
</div>

<div class="">
  <%= f.label :superpower %>
  <%= f.collection_select :superpower_id, Superpower.all, :id, :name %>
</div>

  <%= f.submit %>
<%end %>
